@{
    ViewBag.Title = "Welcome to BandMate";
}
<div class="jumbotron" id="homeJumbotron">
    <center><img src="~/Images/bandmate_logo-600x179.png" style="margin-right: 75px; margin-bottom: 25px; margin-top: 25px;" /></center>
    <p class="text-center">
        @Html.ActionLink("Register", "Register", "Account", null, new { @class = "btn btn-default btn-lg" })
        @Html.ActionLink("Login", "Login", "Account", null, new { @class = "btn btn-default btn-lg" })
    </p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Invite your members</h2>
        <p>Send an email to your band members so they can see all the info they need. Send daily reminders about your band events via email or text.</p>
    </div>
    <div class="col-md-4">
        <h2>Manage your tours</h2>
        <p>Add venues, songs, and set lists. Add tour dates and view them on a map. Collect your appearance fees and track the merch you sell at gigs.</p>
    </div>
    <div class="col-md-4">
        <h2>Sell your merch</h2>
        <p>Create an online storefront so your fans can get your latest products. Upload product images and sell standard products or garments. Spotify playlist included.</p>
    </div>
</div>