<div class="alert alert-info" role="alert" id="infoAlert" style="display: none;">
    <p id="infoAlertMessage">@ViewBag.infoMessage</p>
</div>

<div class="alert alert-danger alert-dismissible" role="alert" id="dangerAlert" style="display: none;">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <p id="dangerAlertMessage">@ViewBag.dangerMessage</p>
</div>

