@model BandMate.Models.BandViewModel

@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}


<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <h3 class="panel-title">Panel Title</h3>
    </div>
    <div class="panel-body">
        Panel Body
    </div>
</div>
