
@{
    ViewBag.Title = "No Membership Info Found";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>No Membership Info Found</h2>
<div class="alert alert-danger">
    <p>You are not a member of any bands and you do not have any pending band invitations.</p>
    <p>In order to use BandMate as a Band Member, you must be invited to join a band. Please contact your Band Manager and ask them to invite you to their band.</p>
</div>

