body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    background: url("../Images/bandmate_bg3-212529.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', sans-serif;
    /*font-family: 'Kanit', sans-serif;*/
    font-weight: 700;
}

.btn-flex {
  display: flex;
  align-items: stretch;
  align-content: stretch;
}

.btn-flex .btn:first-child {
    flex-grow: 1;
    text-align: left;
}

/*Sorting styles*/
body.dragging, body.dragging * {
  cursor: move !important;
}

.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}

.sortable li{
    list-style-type: none;
    height: 61px;
}

.sortable li.placeholder {
    position: relative;
  /** More li styles **/
}
.sortable li.placeholder:before {
    position: absolute;
    float: left;
    margin-top: 22px;
    margin-left: -10px;
}

.alert a {
    text-decoration: none;
}

/*Fix width on addon inputs*/
.addon {
    width: 280px;
}

/*File upload plugin*/
.file-preview{
    border: none;
}
.file-preview-frame{
    border: none;
}
#homeJumbotron {
    height: 400px;
    background: rgba(0,0,0,.25);
    border: none;
    border-radius: 0;
}

/*Chartist Styles*/
/* Use this selector to override the line style on a given series */
.ct-series-a .ct-line {
  /* Set the colour of this series line */
  stroke: #3a87ad;
  /* Control the thikness of your lines */
  stroke-width: 3px;
  /* Create a dashed line with a pattern */
  /*stroke-dasharray: 10px 20px;*/
}

/* This selector overrides the points style on line charts. Points on line charts are actually just very short strokes. This allows you to customize even the point size in CSS */
.ct-series-a .ct-point {
  /* Colour of your points */
  stroke: #3a87ad;
  /* Size of your points */
  stroke-width: 10px;
  /* Make your points appear as squares */
}
.ct-grid {
    /*stroke: rgba(0,0,0,.2);*/
    stroke: rgba(255,255,255,.5);
    stroke-width: 1px;
    /*stroke-dasharray: 2px;*/
}
.ct-label {
    fill: rgba(255,255,255,.75);
    color: rgba(255,255,255,.7);
    font-size: 1.25rem;
    line-height: 1.5;
}
.ct-series-a .ct-bar, .ct-series-a .ct-line, .ct-series-a .ct-point, .ct-series-a .ct-slice-donut {
    stroke: #62c462;
}